html {
		background-color:#247ac9;
	}
.div{
			border:3px solid black;
			width:300px;
			height:100%;
			box-shadow: 4px 4px 4px darkblue;
			margin-left:auto;
			margin-right:auto;
			margin-top:20px;	
			margin-bottom:20px;
			background-color:white;	
}
body {
	margin-top: 60px;
	margin-bottom: 60px;
	font-family: 'Unica One', sans-serif;
	text-transform: uppercase;
	background-color: #202020;
	background-image: url('../img/background.png');
	color: #C0C0C0;
}