<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arimo:400,700">
		<script type="text/javascript" src="meteo.js"></script>
		<style type="text/css" src="style.css"></style>
	</head>
  <body>
		<form id="searchCity">
			<div class="row">
				<div class="col-lg-offset-3 col-lg-6">
					<div class="input-group">
					  <span class="input-group-btn">
              <button type="submit" class="btn btn-secondary" ng-click="gps()" >GPS</button>
					  </span>
					  <input type="search" ng-model="city" placeholder="City"  class="form-control"/>
					  <span class="input-group-btn">
						  <button type="submit" class="btn btn-secondary" ng-click=recherche()>Recherche</button>
					  </span>
					</div>
				</div>
			</div>
			<div ng-if="meteo">
				{{meteo.name}}
				<img src="http://openweathermap.org/img/w/{{meteo.weather[0].icon}}.png" />
				<h3> {{meteo.main.temp | number:0}}°</h3>
				{{meteo.weather[0].description}}
				</div>
				<p ng-if="errorMsg"> {{errorMsg}} </p>
			
		</form>
	</body>
</html>


